<div class="jumbotron">
  <div class="container">
    <h1 class="text-center titulo">Facilitador de Diseño de Casos de Pruebas</h1>
  </div>
</div>

<div class="container" style="margin-bottom:70px">
  <div class="page-header">
    <h2>Funcionalidades</h2>
  </div>
  <div class="list2">
    <ol>
      <%= link_to design_cp_path do %>
          <li>
            <p>
              <em>Generar Plantilla de Diseño de Casos de Prueba a Partir del Análisis</em>
              A partir de la plantilla con el análsis de los casos de prueba se genera un archivo de Excel con los casos de
              prueba autonumerados, con precondiciones y pasos genéricos preconfigurados entre otras opciones.
            </p>
          </li>
      <% end %>
      <%= link_to visual_re_design_test_index_url do %>
          <li>
            <p>
              <em>Aplicar Diseño Visual a Plantilla de Diseño de Casos de Prueba</em>
              A partir de un archivo de Excel con el diseño de casos de prueba, se le aplica el estilo visual estádar. Usado
              principalmente para los casos de prueba exportados de ALM.
            </p>
          </li>
      <% end %>
    </ol>
  </div>
</div>