<div class="jumbotron">
  <div class="container">
    <h1 class="text-center">Crear Plantilla de Excel del Diseño de Casos de Prueba</h1>
  </div>
</div>

<div class="container">

  <div class="panel panel-primary">
    <div class="panel-body">
      <%= form_tag({:controller => :excel, :action => :upload}, :multipart => '1', :id => 'form_up', :method => :post) do   %>
        <%= csrf_meta_tags %>
        <div class="form-group">
          <div class="col-12">
            <label for="exampleInputFile">Excel con el análisis de los Casos de Prueba</label>
            <div class="input-group">
                <span class="input-group-btn">
                    <span class="btn btn-primary">
                        Seleccionar Archivo<%= file_field_tag :analisis, :accept => '.xls, .xlsx', :required => 'true', :class => 'btn-file' %>
                    </span>
                </span>
              <input type="text" class="form-control" readonly>
            </div>
            <span class="help-block">

            </span>
          </div>
        </div>
        <div>
          <button type="submit" class="btn btn-success btn-block">Comenzar</button>
        </div>

      <% end %>
    </div>
  </div>
</div>