/*
*= require "bootstrap"
*= require "select2"


*/

html{

}


a:hover{
    text-decoration: none !important;
}

@media screen and (max-width: 400px) {
    .navbar-brand {
        font-size: 14px;
    }
}

.jumbotron{
    border: solid #337ab7;
    background-color: rgba(110, 183, 255, 0.85);
    color: white;
}

.btn-file{
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    height: 35px;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    cursor: inherit;
    display: block;
}
input[readonly] {
    background-color: white !important;
    cursor: text !important;
}

textarea {
    resize: none;
    height: 200px !important;
}




.onoffswitch {
    position: relative; width: 77px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #FFFFFF; border-radius: 8px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 18px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Si";
    padding-left: 12px;
    background-color: #EEEEEE; color: #5cb85c;
}
.onoffswitch-inner:after {
    content: "No";
    padding-right: 12px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 31px; margin: 1px;
    background: #A1A1A1;
    position: absolute; top: 0; bottom: 0;
    right: 43px;
    border: 2px solid #FFFFFF; border-radius: 8px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 1px;
    background-color: #5cb85c;
}
@media screen and (max-width: 700px) {
    .titulo {
        font: bold 35px/60px Helvetica, Arial, Sans-serif;
        text-align: center;
        color: #eee;
        text-shadow: 0px 2px 6px #333;
    }
}
@media screen and (max-width: 1200px) and (min-width: 700px){
    .titulo {
        font: bold 45px/60px Helvetica, Arial, Sans-serif;
        text-align: center;
        color: #eee;
        text-shadow: 0px 2px 6px #333;
    }
}
@media screen and (min-width: 1200px) {
    .titulo {
        font: bold 65px/60px Helvetica, Arial, Sans-serif;
        text-align: center;
        color: #eee;
        text-shadow: 0px 2px 6px #333;
    }
}

.list2 ol { font-style:italic; font-family:Georgia, Times, serif; font-size:24px; color:#008FD2;  }
.list2 ol a li{
    border-bottom: solid 1px rgba(123, 128, 125, 0.35);
    padding: 15px;
}

.list2 > ol > a > li > p:hover{
    background: rgba(120,120,120,0.1);
}
.list2 ol a:last-child > li{
    border-bottom: none;
}
.list2 ol li p { padding:8px; font-style:normal; font-family:Arial; font-size:13px; color:#000; border-left: 1px solid #999; }
.list2 ol li p em {
    display:block;
    font-size: 20px;
}

.table-inner-border > tbody > tr > td{
    border: solid 1px black;
}
.table-inner-border > thead > tr > th{
    border: solid 1px black;
}

.table-width-fixed td,th {
    width: 300px;
    overflow: hidden;
    white-space: nowrap;
}
.table-width-fixed th {
    text-align: center;
}
.table-width-fixed .active {
    text-align: center;
    vertical-align: middle;
    background-color: #E4E4E4 !important;
}