//*= require bootstrap
//*= require datepicker3

.jumbotron{
  border: solid #337ab7;
  background-color: rgba(110, 183, 255, 0.85);
  color: white;
}




.btn-file{
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}
input[readonly] {
  background-color: white !important;
  cursor: text !important;
}
